
body{
  text-align: center;
}


header {
  border: 2px solid red;
  margin: 1em;
}

main {
  border: 2px solid rgb(166, 5, 246);
  margin: 1em;
}

footer {
  border: 2px solid rgb(13, 230, 104);
  margin: 1em;
}

nav {
  border: 2px solid rgb(246, 5, 210);
  margin: 1em;
}
div {
  border: 2px solid rgb(246, 105, 5);
  margin: 1em;

}